{% extends "base2.html" %}

{% block page_content %}
  <h1> Our Products</h1>
      <div class="row">
        {% for Project in projects %}
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{Project.image_url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{Project.title}}</h5>
                <p class="card-text">{{Project.description}}</p>
                <a href="#" class="btn btn-primary">Click link</a>
              </div>
            </div>
          </div>
        {% endfor %}  
      </div> 
{% endblock %}





