{% extends "base.html" %}

{% block page_content %}
  <h1> Blog Posts</h1>
      <div class="row">
        {% for Blog in blogs %}
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="{{Blog.image_url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{Blog.title}}</h5>
                <p class="card-text">{{Blog.story}}</p>
                <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
        {% endfor %}  
      </div> 
{% endblock %}


  
      
   
    

    







